
@page "/add-employee"
@rendermode InteractiveServer
@using BlazorCRUDWebApp.Models
@inject BlazorCRUDWebApp.Services.IEmployeeService service
@inject NavigationManager Navigation




<h3>Добавить нового сотрудника</h3>
<br/>
<br/>
<br/>
<br/>
<br/>
 <div style="width: 300px;">

<div class="mb-3">
    <label for="Name" class="form-label">Имя</label>
        <InputText type="text" class="form-control" id="Name" @bind-Value="newName" />
</div>


<div class="mb-3">
    <label for="Gender" class="form-label">Пол</label>
        <InputText type="text" class="form-control" id="Gender" @bind-Value="newGender" />
</div>

<div class="mb-3">
    <label for="birthYear" class="form-label">Год рождения</label>
        <InputNumber TValue="int" class="form-control" id="birthYear" @bind-Value="birthdate" />
</div>

<div class="mb-3">
    <label for="position" class="form-label">Должность</label>
        <InputText type="text" class="form-control" id="position" @bind-Value="newPosition" />
</div>

<div class="mb-3">
    <label for="salary" class="form-label">Зарплата</label>
        <InputNumber TValue="double" class="form-control" id="salary" @bind-Value="newSalary" />
</div>
</div>

<button class="btn btn-secondary" @onclick="Cancel">Отмена</button>
<button class="btn btn-primary" @onclick="InsertEmployee">Сохранение</button>



@code {

    private string newName = String.Empty;
    private string newGender = String.Empty;
    private int birthdate;
    private string newPosition = String.Empty;
    private double newSalary;

    private async Task InsertEmployee()
    {
        var employee = new Models.Employee
        {
            Id = Guid.NewGuid(),
            Name = newName,
            Gender = newGender,
            Birthdate = birthdate,
            Position = newPosition,
            Salary = newSalary
        };

        await service.AddEmployee(employee);

        Navigation.NavigateTo("/allemployees");
        StateHasChanged();
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/allemployees");
    }
}
